.whole-box {
    width: 100vw;
    height: 100vh;
    background-color: #fff;

}

.arrow {
    position: absolute;
    top: 0vh;
    left: 50vw;
    transform: translateX(-1vw);
    width: 9vw;
}

.rotate {
    transform: rotate(180deg);
    left: 46vw;
    transition: .3s ease;
}

.rotateBack {
    transform: rotate(360deg);
    left: 46vw;
    transition: .3s ease;
}

.logo {
    width: 70vw;
    margin: 0 auto;
    background-color: rgb(243, 151, 105);
    height: 14vh;
    margin-top: 17vh;
}

.game-box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.logo p {
    font-size: 16vw;
    line-height: 14vh;
    text-align: center;
}

.single-box {
    position: relative;
    margin-top: 12vh;
}

.double-box {
    position: relative;
    margin-top: 6vh;
}

.doll {
    position: absolute;
    left: -5vw;
    /* z-index: -1; */
}

.s-doll {
    height: 11vh;
    width: 15vw;
}

.d-dolls {
    height: 11vh;
    width: 15vw;
}

.box {
    background-color: pink;
    width: 68vw;

}

.box p {
    font-size: 13vw;
    line-height: 11vh;
    text-align: center;
    margin-left: 9vw;
}

.room-box {
    margin-top: 2vh;
    width: 68vw;
    height: 6vh;
    background-color: #ef8d8d;
}

.input-room {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 42vw;
    height: 4vh;
}

.room-join {
    height: 4vh;
    width: 20vw;
    font-size: 5vw;
    margin-right: 1vw;
    margin-top: 1vh;
    float: right;
}

.message-box {
    width: 30vw;
    margin-top: 8vh;

}

.img {
    width: 12vw;
    margin-top: 3vh;
    border-radius: 50%;
    margin-left: 9vw;
}

.name {
    margin-top: 1vh;
    text-align: center;

}

.rank {
    position: absolute;
    top: 6vh;
    left: 6vw;
    width: 90vw;
    height: 90vh;
    background-color: #c3b286;
    z-index: 999;
}


h2 {
    font-size: 12vw;
    text-align: center;
    color: #20201c;

}

#num1,
#rank-mem1,
#score1 {
    font-size: 8vw;
}

.rank-num {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.score {
    float: right;
    width: 20vw;
    height: 7vh;
    font-size: 6vw;
    text-align: center;
    line-height: 7vh;
    color: #d19c30;
}


.item {
    width: 77vw;
    height: 7vh;
    background-color: #dcded1;
    border-bottom: 1px solid #b5af9f;
}

#item-title {
    height: 5vh;
    background-color: #c5bd98;
    color: #726751;
    border: solid .2vw #726751;
    font-size: 6vw;

}

#item-title div:nth-child(1) {
    width: 7vh;
    /* background-color: #801919; */
    float: left;
    text-align: center;
}

#item-title div:nth-child(2) {
    float: left;
    /* background-color: #175c94; */
    text-align: center;
    width: 43vw;
}

#item-title div:nth-child(3) {

    width: 20vw;
    float: right;
    /* background-color: #a12bae; */
    text-align: center;
}

.num {
    float: left;
    width: 10vw;
    height: 5vh;
    background-color: cadetblue;
    line-height: 5vh;
    text-align: center;
    font-size: 6vw;
    border-radius: 50%;
    margin-top: 1vh;
    margin-left: 2vw;
}

.rank-mem {
    float: left;
    margin-left: 10vw;

    font-size: 5vw;
    overflow: hidden;
}

.rank-mem img {
    width: 13vw;
    height: 7vh;
    border-radius: 50%;
}

.rank-mem p {
    float: right;
    line-height: 7vh;
    margin-left: 2vw;
}

@keyframes fadeDown {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -200vw, 0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, -200vw, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.rank.hidden {
    opacity: 0;
    transform: translate3d(0, -200vw, 0);
    animation: fadeDown 0.2s linear;
}

.rank.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    animation: fadeUp 0.2s linear;
}