.whole-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h2 {
    height: 15vh;
    font-size: 12vw;
    line-height: 15vh;

}

.rivals-box {
    text-align: center;
    /* line-height: 30vh; */
    background-color: #894a4a;
    width: 100vw;
    height: 30vh;
}

.myBox,
.rivalBox {
    display: inline-block;
    width: 30vw;
    height: 20vh;
    margin-top: 4vh;
}

.myImg,
.rivalImg {
    border-radius: 50%;
    width: 30vw;
    height: 15vh;
    background-color: #d3cbc2;
}

.rivalImg {
    font-size: 18vw;
}

.myId,
.rivalId {
    font-size: 5vw;
}

.vs {
    font-size: 9vw;
    transform: translateY(-9vh);
    display: inline-block;
    width: 13vw;
    height: 7vh;
    /* background-color: #fff; */
}

.chat-box {
    text-align: center;
    background-color: #894a4a;
    width: 100vw;
    height: 40vh;
}

.chat-top {
    height: 25vh;
    width: 90vw;
    background-color: #bc7825;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 5vw;
    overflow: auto;
}

.chat-top li {
    width: 90vw;
    margin-top: 1vh;
    /* background-color: #d8ea60; */
    line-height: 5vh;
    font-size: 4vw;
}

.rival,
.my {

    display: inline-block;
    width: 10vw;
    height: 5vh;
    border-radius: 50%;
}

.rival {
    background-color: #53873a;
}

.my {

    background-color: #ca6363;
}

.rival-message,
.my-message {
    display: inline-block;
    width: 78vw;
    border-radius: 10px;
    word-wrap: break-word;
}

.rival-message {
    background-color: #df84df;
}

.my-message {
    background-color: #59cfda;

}



.chat-bottom {
    height: 6vh;
    background-color: #e7c333;
    margin-left: 5vw;
    padding-top: 1vh;
    width: 90vw;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.op-box {
    background-color: #894a4a;
    width: 100vw;
    height: 15vh;
}

.send-message {
    display: block;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    /* color: #fff; */
    width: 60vw;
    height: 4vh;
    margin-left: 2vw;
    float: left;
}

.send {
    display: none;
    float: right;
    border: 2px solid #894a4a;
    width: 18vw;
    height: 4vh;
    margin-right: 2vw;
    border-radius: 3px;
    font-size: 4vw;
}

.back-box {
    float: left;
    width: 18vw;
    height: 12vh;
    margin-left: 4vw;
}

.game-run {
    display: none;
    float: right;
    border: 3px solid #6b3a3a;
    width: 35vw;
    height: 7vh;
    margin-top: 1.5vh;
    margin-right: 4vw;
    border-radius: 15px;
    font-size: 7vw;
    text-align: center;
    line-height: 6vh;
}

.coat-link {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.link-box {

    height: 18vh;
    width: 100vw;
    background-color: #dc8787;
    margin: 41vh auto;
}

h3 {
    font-size: 5vw;
    text-align: center;
    margin-top: 3vh;
}

.link {
    margin: auto;
    height: 12vh;
    width: 95vw;
    background-color: #ccc;
}

.invite-link {
    font-size: 4vw;
    width: 90vw;

}

.copy-icon {
    float: right;
}